[submodule "Desenvolvimento/3.Implementacao/epcafes-grupo8"]
	path = Desenvolvimento/3.Implementacao/epcafes-grupo8
	url = https://github.com/Andre-Franco1/epcafes-grupo8.git
[submodule "Desenvolvimento/3.Implementacao/--force"]
	path = Desenvolvimento/3.Implementacao/--force
	url = https://github.com/Andre-Franco1/epcafes-grupo8.git
[submodule "Desenvolvimento/3.Implementacao/--epcafes-grupo8"]
	path = Desenvolvimento/3.Implementacao/--epcafes-grupo8
	url = https://github.com/Andre-Franco1/epcafes-grupo8.git
